/* Responsive Shortcodes */
body.dhm_right_sidebar .pricing-table, body.dhm_left_sidebar .pricing-table { width: 50%; }
@media all and ( max-width: 959px ) {
	body.dhm_right_sidebar .one_third, body.dhm_right_sidebar .one_half, body.dhm_right_sidebar .one_third, body.dhm_right_sidebar .two_third, body.dhm_right_sidebar .one_fourth, body.dhm_right_sidebar .three_fourth,
	body.dhm_left_sidebar .one_third, body.dhm_left_sidebar .one_half, body.dhm_left_sidebar .one_third, body.dhm_left_sidebar .two_third, body.dhm_left_sidebar .one_fourth, body.dhm_left_sidebar .three_fourth { float: none; margin-right: 0; width: auto; margin-bottom: 10px; }

	body.dhm_right_sidebar .dhm-testimonial-box, body.dhm_right_sidebar .dhm-protected,
	body.dhm_left_sidebar .dhm-testimonial-box, body.dhm_left_sidebar .dhm-protected { width: auto !important; }
	body.dhm_right_sidebar .dhm-protected-form,
	body.dhm_left_sidebar .dhm-protected-form { padding: 15px !important; }
}
@media all and (min-width: 768px) and (max-width: 959px) {
	body.dhm_full_width_page .pricing-table { width: 50%; }
}
@media all and ( max-width: 767px ) {
	.dhm_left_tabs_bg { width: 50px; }
	.tabs-left .dhm-tabs-control, .dhm-tabs-container .dhm-tabs-control { display: none; }
	.tabs-left ul.dhm_shortcodes_mobile_nav { display: block; width: 51px; }
		.tabs-left ul.dhm_shortcodes_mobile_nav  a { display: block; height: 49px; width: 100%; }
	.tabs-left .dhm-tabs-content { margin-left: 75px; }

	.dhm-tabs-container  ul.dhm_shortcodes_mobile_nav { display: block; }
		.dhm-tabs-container  ul.dhm_shortcodes_mobile_nav li { width: 50%; }

	.dhm-pricing { margin-top: 0; }
	body.dhm_right_sidebar .pricing-table, body.dhm_left_sidebar .pricing-table, body.dhm_full_width_page .pricing-table { width: 100%; margin-bottom: 35px; }
	.pricing-big { top: 0; }

	body.dhm_full_width_page .one_third, body.dhm_full_width_page .one_half, body.dhm_full_width_page .one_third, body.dhm_full_width_page .two_third, body.dhm_full_width_page .one_fourth, body.dhm_full_width_page .three_fourth { float: none; margin-right: 0; width: auto; margin-bottom: 10px; }

	body.dhm_full_width_page .dhm-testimonial-box, body.dhm_full_width_page .dhm-protected  { width: auto !important; }
	body.dhm_full_width_page .dhm-protected-form { padding: 15px !important; }

	body.dhm_right_sidebar .author-shortcodes .author-inner,
	body.dhm_left_sidebar .author-shortcodes .author-inner { padding: 27px 27px 17px; }
	body.dhm_right_sidebar .author-shortcodes .author-image,
	body.dhm_left_sidebar .author-shortcodes .author-image { position: relative; top: 0; left: 0; margin-bottom: 10px; }

	body.dhm_right_sidebar .quote-center .dhm_quote_additional_sign,
	body.dhm_left_sidebar .quote-center .dhm_quote_additional_sign { right: -13px; }
	body.dhm_right_sidebar .dhm_shortcodes_controls,
	body.dhm_left_sidebar .dhm_shortcodes_controls { display: none; }
	body.dhm_right_sidebar .dhm_shortcodes_controls_arrows a,
	body.dhm_left_sidebar .dhm_shortcodes_controls_arrows a { text-indent: -9999px; }
}
@media all and ( max-width: 479px ) {
	.dhm-tabs-container ul.dhm_shortcodes_mobile_nav a.dhm_sc_nav_prev { padding-left: 26px; }
		.dhm-tabs-container ul.dhm_shortcodes_mobile_nav .dhm_sc_nav_prev span { left: 10px; }
	.dhm-tabs-container ul.dhm_shortcodes_mobile_nav a.dhm_sc_nav_next { padding-right: 26px; }
		.dhm-tabs-container ul.dhm_shortcodes_mobile_nav .dhm_sc_nav_next span { right: 10px; }

	body.dhm_full_width_page .author-shortcodes .author-inner { padding: 27px 27px 17px; }
	body.dhm_full_width_page .author-shortcodes .author-image { position: relative; top: 0; left: 0; margin-bottom: 10px; }
	body.dhm_full_width_page .quote-center .dhm_quote_additional_sign { right: -13px; }
	body.dhm_full_width_page .dhm_shortcodes_controls { display: none; }
	body.dhm_full_width_page .dhm_shortcodes_controls_arrows a { text-indent: -9999px; }

	.dhm-box:before, .dhm-testimonial:before { display: none; }
	.dhm-box-content { padding: 27px 27px 17px 27px; }
	.dhm-testimonial { padding: 25px; }
}