/*------------------------------------------------*/
/*-------------------[SHORTCODES]-----------------*/
/*------------------------------------------------*/

.dhm-box { margin: 0px 0px 10px; -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1); box-shadow: 0 1px 1px rgba(0,0,0,0.1); font-size: 14px; position: relative; }
	.dhm-box-content { text-shadow: 1px 1px 1px #ffffff; padding: 27px 43px 17px 66px; min-height: 35px; }
		.dhm-box-content strong { color: #000000; font-weight: bold; }

.dhm-warning:before, .dhm-download:before, .dhm-info:before, .dhm-bio:before, .dhm-shadow:before { content: ''; position: absolute; top: 32px; left: 28px; }

.dhm-info { border: 1px solid #e2e2ba; }
	.dhm-info:before { width: 22px; height: 20px; background: url(../images/shortcodes-sprite.png) no-repeat -97px -2px; }
	.dhm-info .dhm-box-content { color: #ada771; background: #f9f9dc; border: 1px solid #fbfbef; -moz-box-shadow: inset 0 0 45px #efefc0; -webkit-box-shadow: inset 0 0 45px #efefc0; box-shadow: inset 0 0 45px #efefc0; }
		.dhm-info .dhm-box-content h1, .dhm-info .dhm-box-content h2, .dhm-info .dhm-box-content h3, .dhm-info .dhm-box-content h4, .dhm-info .dhm-box-content h5, .dhm-info .dhm-box-content h6 { color: #ada771; }

.dhm-warning { border: 1px solid #e0b1b1; }
	.dhm-warning:before { width: 17px; height: 17px; background: url(../images/shortcodes-sprite.png) no-repeat -75px -41px; }
	.dhm-warning .dhm-box-content { color: #ad7676; background: #ffd9d5; border: 1px solid #fceeec; -moz-box-shadow: inset 0 0 45px #f0bfba; -webkit-box-shadow: inset 0 0 45px #f0bfba; box-shadow: inset 0 0 45px #f0bfba; }
		.dhm-warning .dhm-box-content h1, .dhm-warning .dhm-box-content h2, .dhm-warning .dhm-box-content h3, .dhm-warning .dhm-box-content h4, .dhm-warning .dhm-box-content h5, .dhm-warning .dhm-box-content h6 { color: #ad7676; }

.dhm-download { border: 1px solid #b9dbb6; }
	.dhm-download:before { width: 19px; height: 14px; background: url(../images/shortcodes-sprite.png) no-repeat -23px -19px; }
	.dhm-download .dhm-box-content { color: #7ea57b; background: #dff7dd; border: 1px solid #f1f9f0; -moz-box-shadow: inset 0 0 45px #cbe5c9; -webkit-box-shadow: inset 0 0 45px #cbe5c9; box-shadow: inset 0 0 45px #cbe5c9; }
		.dhm-download .dhm-box-content h1, .dhm-download .dhm-box-content h2, .dhm-download .dhm-box-content h3, .dhm-download .dhm-box-content h4, .dhm-download .dhm-box-content h5, .dhm-download .dhm-box-content h6 { color: #7ea57b; }

.dhm-bio { border: 1px solid #b3d8d3; }
	.dhm-bio:before { width: 19px; height: 15px; background: url(../images/shortcodes-sprite.png) no-repeat -23px -2px; top: 33px; }
	.dhm-bio .dhm-box-content { color: #80acb0; background: #ddf5f7; border: 1px solid #f1fafb; -moz-box-shadow: inset 0 0 45px #c6edf0; -webkit-box-shadow: inset 0 0 45px #c6edf0; box-shadow: inset 0 0 45px #c6edf0; }
		.dhm-bio .dhm-box-content h1, .dhm-bio .dhm-box-content h2, .dhm-bio .dhm-box-content h3, .dhm-bio .dhm-box-content h4, .dhm-bio .dhm-box-content h5, .dhm-bio .dhm-box-content h6 { color: #80acb0; }

.dhm-shadow { border: 1px solid #ddd; }
	.dhm-shadow .dhm-box-content { color: #737373; background: #fafafa; border: 1px solid #fafafa; -moz-box-shadow: inset 0 0 45px #e7e7e7; -webkit-box-shadow: inset 0 0 45px #e7e7e7; box-shadow: inset 0 0 45px #e7e7e7; }
		.dhm-shadow .dhm-box-content h1, .dhm-shadow .dhm-box-content h2, .dhm-shadow .dhm-box-content h3, .dhm-shadow .dhm-box-content h4, .dhm-shadow .dhm-box-content h5, .dhm-shadow .dhm-box-content h6 { color: #737373; }


.dhm-tooltip { position: relative; }
	.dhm-tooltip-box { display: none; color: #6d6e6e; line-height: 18px; background: #ffffff; border: 1px solid #dbdbdb; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; position: absolute; bottom:35px; left: -94px; width: 235px; padding: 20px 25px 22px 25px; -moz-box-shadow:1px 1px 5px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1); box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1); }
		.dhm-tooltip-arrow { background: url(../images/shortcodes-sprite.png) no-repeat -120px -2px; width: 24px; height: 13px; display: block; position: absolute; bottom: -13px; left: 129px; }


.dhm-learn-more { background: #fff; border: 1px solid #e7e7e7; margin: 10px 0px; -moz-box-shadow: 1px -1px 0 0 #fff; -webkit-box-shadow: 1px -1px 0 0 #fff; box-shadow: 1px -1px 0 0 #fff; }
	.dhm-learn-more h3.heading-more { cursor: pointer; padding: 16px 50px 16px 22px; font-size: 14px; color: #999; letter-spacing: 0px; text-shadow: 1px 1px 0 #fff; position: relative; border-left: 1px solid #fff; border-top: 1px solid #fff; margin: 0 !important; }
		.dhm-learn-more h3.heading-more span.dhm_learnmore_arrow { display: block; position: absolute; top: 0; right: 0; width: 48px; height: 100%; border-left: 1px solid #fff; -moz-box-shadow: -1px 0 0 0 #e7e7e7; -webkit-box-shadow: -1px 0 0 0 #e7e7e7; box-shadow: -1px 0 0 0 #e7e7e7; }
			.dhm-learn-more span.dhm_learnmore_arrow span { display: block; position: absolute; top: 50%; left: 50%; margin-top: -5px; margin-left: -6px; width: 13px; height: 10px; background: url(../images/shortcodes-sprite.png) no-repeat -58px -2px; }
			.dhm-learn-more .open span.dhm_learnmore_arrow span { background-position: -58px -14px; }
	.dhm-learn-more .learn-more-content { padding: 30px 30px 20px; visibility: hidden; border-top: 1px solid #e7e7e7; }
	.dhm_slidecontent .dhm-learn-more .learn-more-content { display: block; visibility: hidden; }
	.dhm-open .learn-more-content { display: block; visibility: visible !important; }

.dhm_shortcodes_controller_nav { border-top: 1px solid #e7e7e7; -moz-box-shadow: inset 1px 1px 0 0 #fff; -webkit-box-shadow: inset 1px 1px 0 0 #fff; box-shadow: inset 1px 1px 0 0 #fff; min-height: 53px; position: relative; }
	.dhm_shortcodes_controls_arrows, .dhm_shortcodes_controls { list-style: none !important; margin: 0 !important; padding: 0 !important; line-height: 26px !important; }
	.dhm_shortcodes_controls { text-align: center; padding-top: 20px !important; line-height: 0 !important; }
		.dhm_shortcodes_controls li { display: inline-block; margin: 0 3px; }
			.dhm_shortcodes_controls a { background: url(../images/shortcodes-sprite.png) no-repeat -45px -1px; width: 11px; height: 11px; display: inline-block; }
			.dhm_shortcodes_controls .dhm_shortcodes_active_control a { background-position: -45px -14px; }
	.dhm_shortcodes_controls_arrows a { font-size: 14px; color: #999 !important; text-shadow: 1px 1px 0 #fff; position: absolute; top: 0; }
	.dhm_shortcodes_controls_arrows a:hover { color: #4c4c4c; text-decoration: none; }
	.dhm_shortcodes_controls_arrows .dhm_sc_nav_prev { padding: 14px 38px 12px 48px; border-right: 1px solid #e7e7e7; -moz-box-shadow: 1px 0 0 0 #fff; -webkit-box-shadow: 1px 0 0 0 #fff; box-shadow: 1px 0 0 0 #fff; left: 0; }
	.dhm_shortcodes_controls_arrows .dhm_sc_nav_next { padding: 14px 48px 12px 38px; border-left: 1px solid #fff; -moz-box-shadow: -1px 0 0 0 #e7e7e7; -webkit-box-shadow: -1px 0 0 0 #e7e7e7; box-shadow: -1px 0 0 0 #e7e7e7; right: 0; }
		.dhm_shortcodes_controls_arrows .dhm_sc_nav_next span, .dhm_shortcodes_controls_arrows .dhm_sc_nav_prev span { top: 21px; }
		.dhm_shortcodes_controls_arrows .dhm_sc_nav_next span { right: 30px; }
		.dhm_shortcodes_controls_arrows .dhm_sc_nav_prev span { left: 30px; }

.dhm-simple-slider { background: #fff; border: 1px solid #e7e7e7; margin: 10px 0; position: relative; }
	.dhm-simple-slider h1, .dhm-simple-slider h2, .dhm-simple-slider h3, .dhm-simple-slider h4, .dhm-simple-slider h5, .dhm-simple-slider h6 { font-family: Century Gothic, Arial, sans-serif; color: #333333; }
	.dhm-simple-slides { overflow: hidden; margin: 30px 30px 20px; }
		.dhm-simple-slider div.dhm-slide { display: none; width:100% !important; }

.one_half, .one_third, .two_third, .one_fourth , .three_fourth { float:left; margin-right:4%; position:relative; }
.one_half { width: 48%; }
.one_third { width: 30.66%; }
.two_third { width:65.32%; }
.one_fourth { width:22%; }
.three_fourth { width:74%; }

a.small-button, a.big-button, a.icon-button { display: inline-block; text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.1); box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.1); -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; line-height: 26px; }

a.small-button, a.icon-button { padding: 6px 14px; font-weight: bold !important; font-size: 12px; margin: 0 5px 8px 0; }
	a.small-button:hover, a.big-button:hover, a.icon-button:hover { text-decoration: none; }

a.smallblue, a.bigblue { color: #2b63a8 !important; background: #88bdff; background: -moz-linear-gradient(top, #88bdff 0%, #60a7ff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88bdff), color-stop(100%,#60a7ff)); background: -webkit-linear-gradient(top, #88bdff 0%,#60a7ff 100%); background: -o-linear-gradient(top, #88bdff 0%,#60a7ff 100%); background: -ms-linear-gradient(top, #88bdff 0%,#60a7ff 100%); background: linear-gradient(to bottom, #88bdff 0%,#60a7ff 100%); border: 1px solid #3e8ff4; }
	a.smallblue:hover, a.bigblue:hover { color: #23528c !important; }

a.smalllightblue { color: #348db6 !important; background: #8edbff; background: -moz-linear-gradient(top, #8edbff 0%, #60cdff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8edbff), color-stop(100%,#60cdff)); background: -webkit-linear-gradient(top, #8edbff 0%,#60cdff 100%); background: -o-linear-gradient(top, #8edbff 0%,#60cdff 100%); background: -ms-linear-gradient(top, #8edbff 0%,#60cdff 100%); background: linear-gradient(to bottom, #8edbff 0%,#60cdff 100%); border: 1px solid #51b5e4; }
	a.smalllightblue:hover { color: #287295 !important; }

a.smallteal, a.bigteal, a.bigturquoise { color: #3da7a9 !important; background: #61eef0; background: -moz-linear-gradient(top, #61eef0 0%, #59dcde 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61eef0), color-stop(100%,#59dcde)); background: -webkit-linear-gradient(top, #61eef0 0%,#59dcde 100%); background: -o-linear-gradient(top, #61eef0 0%,#59dcde 100%); background: -ms-linear-gradient(top, #61eef0 0%,#59dcde 100%); background: linear-gradient(to bottom, #61eef0 0%,#59dcde 100%); border: 1px solid #48bec0;}
	a.smallteal:hover, a.bigteal:hover, a.bigturquoise:hover { color: #309192 !important; }

a.smallgreen, a.biggreen { color: #569d51 !important; background: #94e48d; background: -moz-linear-gradient(top, #94e48d 0%, #82cf7c 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94e48d), color-stop(100%,#82cf7c)); background: -webkit-linear-gradient(top, #94e48d 0%,#82cf7c 100%); background: -o-linear-gradient(top, #94e48d 0%,#82cf7c 100%); background: -ms-linear-gradient(top, #94e48d 0%,#82cf7c 100%); background: linear-gradient(to bottom, #94e48d 0%,#82cf7c 100%); border: 1px solid #4dab46; }
	a.smallgreen:hover, a.biggreen:hover { color: #478542 !important; }

a.smallorange, a.bigorange { color: #c7822f !important; background: #ffcb8c; background: -moz-linear-gradient(top, #ffcb8c 0%, #ffb660 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcb8c), color-stop(100%,#ffb660)); background: -webkit-linear-gradient(top, #ffcb8c 0%,#ffb660 100%); background: -o-linear-gradient(top, #ffcb8c 0%,#ffb660 100%); background: -ms-linear-gradient(top, #ffcb8c 0%,#ffb660 100%); background: linear-gradient(to bottom, #ffcb8c 0%,#ffb660 100%); border: 1px solid #db9c51; }
	a.smallorange:hover, a.bigorange:hover { color: #a96c23 !important; }

a.smallsilver { color: #595a5a !important; background: #f5f5f5; background: -moz-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e2e2e2)); background: -webkit-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%); background: -o-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%); background: -ms-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%); background: linear-gradient(to bottom, #f5f5f5 0%,#e2e2e2 100%); border: 1px solid #c3c3c3; text-shadow: 1px 1px 1px #fff; -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.9), 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.9), 1px 1px 1px rgba(0,0,0,0.1); box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.9), 1px 1px 1px rgba(0,0,0,0.1); }
	a.smallsilver:hover { color: #454545 !important; }

a.smallblack { color: #fff !important; background: #5b5b5b; background: -moz-linear-gradient(top, #5b5b5b 0%, #383838 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(100%,#383838)); background: -webkit-linear-gradient(top, #5b5b5b 0%,#383838 100%); background: -o-linear-gradient(top, #5b5b5b 0%,#383838 100%); background: -ms-linear-gradient(top, #5b5b5b 0%,#383838 100%); background: linear-gradient(to bottom, #5b5b5b 0%,#383838 100%); border: 1px solid #0e0e0e; -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2), 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2), 1px 1px 1px rgba(0,0,0,0.1); box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2), 1px 1px 1px rgba(0,0,0,0.1); text-shadow: -1px -1px 0 #000; }
	a.smallblack:hover { color: #f7f7f7 !important; }

a.smallred, a.bigred { color: #9a3e3e !important; background: #ff7979; background: -moz-linear-gradient(top, #ff7979 0%, #ff5f5f 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7979), color-stop(100%,#ff5f5f)); background: -webkit-linear-gradient(top, #ff7979 0%,#ff5f5f 100%); background: -o-linear-gradient(top, #ff7979 0%,#ff5f5f 100%); background: -ms-linear-gradient(top, #ff7979 0%,#ff5f5f 100%); background: linear-gradient(to bottom, #ff7979 0%,#ff5f5f 100%); border: 1px solid #d85353; }
	a.smallred:hover, a.bigred:hover { color: #803030 !important; }

a.smallpink { color: #914d97 !important; background: #e782f1; background: -moz-linear-gradient(top, #e782f1 0%, #d271da 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e782f1), color-stop(100%,#d271da)); background: -webkit-linear-gradient(top, #e782f1 0%,#d271da 100%); background: -o-linear-gradient(top, #e782f1 0%,#d271da 100%); background: -ms-linear-gradient(top, #e782f1 0%,#d271da 100%); background: linear-gradient(to bottom, #e782f1 0%,#d271da 100%); border: 1px solid #b15cb9; }
	a.smallpink:hover { color: #753b7a !important; }

a.smallpurple, a.bigpurple { color: #653e9a !important; background: #b279ff; background: -moz-linear-gradient(top, #b279ff 0%, #a35fff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b279ff), color-stop(100%,#a35fff)); background: -webkit-linear-gradient(top, #b279ff 0%,#a35fff 100%); background: -o-linear-gradient(top, #b279ff 0%,#a35fff 100%);background: -ms-linear-gradient(top, #b279ff 0%,#a35fff 100%); background: linear-gradient(to bottom, #b279ff 0%,#a35fff 100%); border: 1px solid #8b53d8; }
	a.smallpurple:hover, a.bigpurple:hover { color: #563386 !important; }

a.big-button { font-weight: normal !important; font-size: 20px; padding: 14px 24px; margin: 8px 6px 8px 0; }
	a.big-button:hover { text-decoration: none; }

a.icon-button { color: #595a5a !important; background: #f5f5f5; background: -moz-linear-gradient(top, #f5f5f5 0%, #e1e1e1 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e1e1e1)); background: -webkit-linear-gradient(top, #f5f5f5 0%,#e1e1e1 100%); background: -o-linear-gradient(top, #f5f5f5 0%,#e1e1e1 100%);background: -ms-linear-gradient(top, #f5f5f5 0%,#e1e1e1 100%); background: linear-gradient(to bottom, #f5f5f5 0%,#e1e1e1 100%); border: 1px solid #c3c3c3; text-shadow: 1px 1px 1px #fff; -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.9), 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.9), 1px 1px 1px rgba(0,0,0,0.1); box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.9), 1px 1px 1px rgba(0,0,0,0.1); padding-left: 36px; position: relative; }
a.icon-button:hover { color: #404040; }
	a.icon-button span.dhm-icon { position: absolute; top: 10px; left: 12px; width: 18px; height: 16px; }


a.download-icon span.dhm-icon { background: url(../images/shortcodes-sprite.png) no-repeat -3px -2px; width: 17px; height: 20px; top: 7px; }
a.search-icon span.dhm-icon { background: url(../images/shortcodes-sprite.png) no-repeat -206px -2px; top: 9px; }
a.refresh-icon span.dhm-icon { background: url(../images/shortcodes-sprite.png) no-repeat -169px -19px; }
a.question-icon span.dhm-icon { background: url(../images/shortcodes-sprite.png) no-repeat -164px -2px; }
a.people-icon span.dhm-icon { background: url(../images/shortcodes-sprite.png) no-repeat -151px -33px; height: 17px; top: 9px; }
a.warning-icon span.dhm-icon { background: url(../images/shortcodes-sprite.png) no-repeat -188px -19px; width: 15px; }
a.mail-icon span.dhm-icon { background: url(../images/shortcodes-sprite.png) no-repeat -131px -33px; height: 15px; }
a.heart-icon span.dhm-icon { background: url(../images/shortcodes-sprite.png) no-repeat -131px -18px; width: 14px; height: 13px; top: 12px; left: 14px; }
a.paper-icon span.dhm-icon { background: url(../images/shortcodes-sprite.png) no-repeat -147px -17px; width: 15px; height: 15px; }
a.notice-icon span.dhm-icon { background: url(../images/shortcodes-sprite.png) no-repeat -147px -2px; width: 15px; height: 13px; top: 11px; }
a.stats-icon span.dhm-icon { background: url(../images/shortcodes-sprite.png) no-repeat -184px -2px; width: 15px; height: 14px; top: 11px; }
a.rss-icon span.dhm-icon { background: url(../images/shortcodes-sprite.png) no-repeat -171px -36px; width: 15px; top: 9px; }


ul.dhm_shortcodes_mobile_nav { margin: 0 !important; padding: 0 !important; list-style:none outside none !important; display: none; z-index: 2; }
	ul.dhm_shortcodes_mobile_nav a { position: relative; }
		ul.dhm_shortcodes_mobile_nav span, .dhm_shortcodes_controls_arrows span { position: absolute; top: 23px; display: block; width: 10px; height: 14px; }
		ul.dhm_shortcodes_mobile_nav .dhm_sc_nav_prev span, .dhm_shortcodes_controls_arrows .dhm_sc_nav_prev span { background: url(../images/shortcodes-sprite.png) no-repeat -3px -24px; }
		ul.dhm_shortcodes_mobile_nav .dhm_sc_nav_next span, .dhm_shortcodes_controls_arrows .dhm_sc_nav_next span { background: url(../images/shortcodes-sprite.png) no-repeat -3px -40px; }

.dhm-tabs-container { background: #fff; border: 1px solid #e7e7e7; position: relative; margin: 50px 0px 15px; }
	.dhm-learn-more h3.heading-more, .dhm-tabs-container .dhm-tabs-control, .dhm-tabs-container ul.dhm_shortcodes_mobile_nav, .dhm_shortcodes_controller_nav, .dhm-testimonial-author-info, .dhm-protected-title, .pricing-heading, .pricing-content-bottom { background: #f9f9f9; background: -moz-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f5f5f5)); background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f5f5f5 100%); background: -o-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%); background: -ms-linear-gradient(top,  #f9f9f9 0%,#f5f5f5 100%); background: linear-gradient(to bottom, #f9f9f9 0%,#f5f5f5 100%); }
	.dhm-tabs-container .dhm-tabs-control, .dhm-tabs-container ul.dhm_shortcodes_mobile_nav  { margin: 0px !important; overflow: hidden; border-top: 1px solid #fff; position: relative; }
	.dhm-tabs-container .dhm-tabs-control:before { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #e7e7e7; }
		.dhm-tabs-container .dhm-tabs-control li { list-style:none outside none; margin: 0 !important; float: left; padding: 0 !important; border-left: 1px solid #e7e7e7; -moz-box-shadow: -1px 0 0 #fff; -webkit-box-shadow: -1px 0 0 #fff; box-shadow: -1px 0 0 #fff; position: relative; }
		.dhm-tabs-container .dhm-tabs-control li:first-child { border-left: 1px solid #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
			.dhm-tabs-container .dhm-tabs-control li a { font-size: 14px; color: #999 !important; text-shadow: 1px 1px 0 #fff !important; display: block; padding: 15px 20px; }
			.dhm-tabs-container .dhm-tabs-control li a:hover { color: #4c4c4c !important; text-decoration: none; }
		.dhm-tabs-container .dhm-tabs-control li.active:before { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #fff; }
			.dhm-tabs-container .dhm-tabs-control li.active a { background: #fff; color: #4c4c4c !important; }
	.dhm-tabs-content-wrapper > div { display: none; }
	.dhm_sliderfx_slide .dhm-tabs-content-wrapper { width: 1200%; position: relative; left: 0; }
		.dhm_sliderfx_slide .dhm-tabs-content-wrapper > div { float: left; display: block; height: 1px; visibility: hidden; }
		.dhm_sliderfx_slide .dhm-tabs-content-wrapper > div, .dhm_sliderfx_fade .dhm_slidecontent { word-wrap: break-word; }
		.dhm_sliderfx_slide .dhm_shortcode_slide_active { height: auto !important; }
.dhm-tabs-container .dhm-tabs-content { margin: 30px 30px 20px; }

.dhm-tabs-container ul.dhm_shortcodes_mobile_nav { border-bottom: 1px solid #e7e7e7; }
	.dhm-tabs-container ul.dhm_shortcodes_mobile_nav li { float: right; line-height: 26px; }
		.dhm-tabs-container ul.dhm_shortcodes_mobile_nav a { display: block; padding: 16px 10px 16px 45px; color: #999 !important; font-size: 14px; text-shadow: 1px 1px 0 #fff !important; }
		.dhm-tabs-container ul.dhm_shortcodes_mobile_nav a.dhm_sc_nav_next { padding: 16px 45px 16px 10px; text-align: right; }
		.dhm-tabs-container ul.dhm_shortcodes_mobile_nav a:hover { text-decoration: none; color: #4c4c4c !important; }
			.dhm-tabs-container ul.dhm_shortcodes_mobile_nav .dhm_sc_nav_next:before { position: absolute; content: ''; top: 0; left: 0; width: 1px; height: 100%; background: #e7e7e7; -moz-box-shadow: 1px 0 0 #fff; -webkit-box-shadow: 1px 0 0 #fff; box-shadow: 1px 0 0 #fff; }

		.dhm-tabs-container ul.dhm_shortcodes_mobile_nav .dhm_sc_nav_next span { right: 28px; }
		.dhm-tabs-container ul.dhm_shortcodes_mobile_nav .dhm_sc_nav_prev span { left: 28px; }

.dhm-tabs-container, .tabs-left, .dhm-simple-slider, .dhm-image-slider, .dhm-testimonial-box, .author-shortcodes, .dhm-protected { -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.tabs-left { background: #fff; border: 1px solid #e7e7e7; position: relative; margin-bottom: 15px; }
	.tabs-left .dhm-tabs-control, .tabs-left ul.dhm_shortcodes_mobile_nav { width: 149px; border-top: 1px solid #fff; float: left; list-style:none outside none !important; margin:0 !important; position: relative; }
	.tabs-left ul.dhm_shortcodes_mobile_nav { position: absolute; top: 0; left: 0; }
		.tabs-left .dhm-tabs-control li, .tabs-left ul.dhm_shortcodes_mobile_nav li { padding-right: 0 !important; padding-left: 0 !important; background: none !important; list-style: none !important; border-bottom: 1px solid #e7e7e7; -moz-box-shadow: 0 1px 0 0 #fff; -webkit-box-shadow: 0 1px 0 0 #fff; box-shadow: 0 1px 0 0 #fff; }
			.tabs-left .dhm-tabs-control li a { color: #999 !important; font-size: 14px; text-shadow: 1px 1px 0 #fff !important; display: block; padding: 15px 10px 15px 20px; }
			.tabs-left .dhm-tabs-control li.active a { background: #fff; margin-right: -1px; }
			.tabs-left .dhm-tabs-control li a:hover, .tabs-left .dhm-tabs-control li.active a { text-decoration: none; color: #4c4c4c !important; }
	.tabs-left .dhm-tabs-content { padding: 30px 30px 20px; position: relative; }
	.tabs-left.dhm_sliderfx_slide .dhm-tabs-content-main-wrap { overflow: hidden; }
		.tabs-left .dhm-tabs-content h3 { padding-bottom: 14px; color: #333333; }
	.dhm_left_tabs_bg { position: absolute; top: 0; left: 0; width: 148px; height: 100%; border-right: 1px solid #e7e7e7; border-left: 1px solid #fff; background: #f5f5f5;  background: -moz-linear-gradient(left, #f9f9f9 0%, #f5f5f5 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9f9f9), color-stop(100%,#f5f5f5)); background: -webkit-linear-gradient(left, #f9f9f9 0%,#f5f5f5 100%); background: -o-linear-gradient(left, #f9f9f9 0%,#f5f5f5 100%); background: -ms-linear-gradient(left, #f9f9f9 0%,#f5f5f5 100%); background: linear-gradient(to right, #f9f9f9 0%,#f5f5f5 100%); }

	.tabs-left ul.dhm_shortcodes_mobile_nav  a { text-indent: -9999px; }
		.tabs-left ul.dhm_shortcodes_mobile_nav a span { top: 50%; margin-top: -7px; }
		.tabs-left ul.dhm_shortcodes_mobile_nav .dhm_sc_nav_next span { right: 50%; margin-right: -4px; }
		.tabs-left ul.dhm_shortcodes_mobile_nav .dhm_sc_nav_prev span { left: 50%; margin-left: -4px; }

.author-shortcodes { background: #fff; border: 1px solid #e7e7e7; color: #363636; font-size: 14px; margin-bottom: 10px; }
	.author-shortcodes .author-inner { position: relative; padding: 30px 30px 20px 117px; min-height: 60px; }
		.author-shortcodes .author-image { position: absolute; top: 32px; left: 30px; width: 60px; height: 60px; }
			.author-shortcodes .author-image img { max-width: 100%; height: auto; width: auto; }
			.author-shortcodes .author-image .author-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); box-shadow: inset 0 0 4px rgba(0,0,0,0.5); }

.dhm-protected { border: 1px solid #e7e7e7; width: 390px; background: #fff; margin-bottom: 10px; }
	.dhm-protected-title { border-left: 1px solid #fff; border-top: 1px solid #fff; border-bottom: 1px solid #e7e7e7; padding: 18px 10px 17px 50px; position: relative; color: #999; text-shadow: 0 1px 0 #fff; font-size: 14px; }
		.dhm-protected-title:before { content: ''; position: absolute; top: 16px; left: 20px; background: url(../images/shortcodes-sprite.png) no-repeat -23px -36px; width: 17px; height: 19px; }
	.dhm-protected-form { padding: 32px 37px 32px 32px; text-align: right; }
		.dhm-protected-form p { padding-bottom: 16px; }
			.dhm-protected-form p label { position: relative; }
				.dhm-protected-form p .dhm_protected_icon { width: 10px; height: 20px; position: absolute; top: 2px; left: 18px; background: url(../images/shortcodes-sprite.png) no-repeat -190px -37px; display: block; }
				.dhm-protected-form p .dhm_protected_password { height: 23px; background-position: -275px -2px; }
			.dhm-protected-form label span { display: none; }
			.dhm-protected-form p input { margin: 0 !important; border: 1px solid #e7e7e7; color: #363636; font-size: 14px; background: #f3f3f3; background: -moz-linear-gradient(top, #f3f3f3 1%, #fefefe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f3f3f3), color-stop(100%,#fefefe)); background: -webkit-linear-gradient(top, #f3f3f3 1%,#fefefe 100%); background: -o-linear-gradient(top, #f3f3f3 1%,#fefefe 100%); background: -ms-linear-gradient(top, #f3f3f3 1%,#fefefe 100%); background: linear-gradient(to bottom, #f3f3f3 1%,#fefefe 100%); padding: 20px 20px 20px 40px; width: 100%; -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1); -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.1); box-shadow: inset 0 0 1px rgba(0,0,0,0.1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; }

		.dhm-protected-form input.etlogin-button { background: #f9f9f9; background: -moz-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f5f5f5)); background: -webkit-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%); background: -o-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%); background: -ms-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%); background: linear-gradient(to bottom, #f9f9f9 0%,#f5f5f5 100%); border: 1px solid #e7e7e7; padding: 14px 24px; color: #999; text-shadow: 0 1px 0 #fff; font-size: 14px; -webkit-box-shadow: inset 1px 1px 0 0 #fff; -moz-box-shadow: inset 1px 1px 0 0 #fff; box-shadow: inset 1px 1px 0 0 #fff; }

.dhm-simple-slides .dhm_slidecontent { width: auto; }

.dhm-image-slides { background: #555; }
	.dhm-image-slider { background: #fff; border: 1px solid #e7e7e7; margin-bottom:25px; }
		.dhm-image-slide { position: relative; }
			.dhm-image-slider img { display: block; width: auto; margin: 0 auto; height: auto; }
			.dhm-image-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.6); -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.6); box-shadow: inset 0 0 5px rgba(0,0,0,0.6); }

.dhm-learn-more, .dhm-tabs-container, .tabs-left, .dhm-simple-slider, .author-shortcodes, .dhm-tooltip-box { color:#201F1F !important; text-shadow: none !important; }
.dhm-learn-more a, .dhm-tabs-container a, .tabs-left a, .dhm-simple-slider a, .author-shortcodes a, .dhm-tooltip-box a { text-shadow: none !important; }

.dhm-custom-list ul { list-style: none !important; list-style-image: none !important; padding-left: 0 !important; margin: 0 !important; line-height: 26px; }
	.dhm-custom-list ul li { padding-left: 28px !important; margin: 5px 0 !important; list-style: none !important; position: relative; }
		.dhm-custom-list ul li:before { content: ''; position: absolute; top: 5px; left: 0; background: url(../images/shortcodes-sprite.png) no-repeat -74px -2px; width: 22px; height: 18px; }
	.etlist-x ul li:before { content: ''; position: absolute; top: 6px; left: 0; background: url(../images/shortcodes-sprite.png) no-repeat -75px -21px; width: 22px; height: 18px; }
	.etlist-dot ul li { padding-left: 25px !important; }
		.etlist-dot ul li:before { content: ''; position: absolute; top: 9px; left: 0; background: url(../images/shortcodes-sprite.png) no-repeat -230px -3px; width: 10px; height: 9px; }
			.dhm-custom-list ul li ul { padding: 2px 0px !important; margin: 0 !important; }

.dhm-pricing { margin: 40px 0 10px; }
	.pricing-table { float: left; width: 25%; margin-bottom: 22px; position: relative; margin-left: -1px; }
		.pricing-table-wrap { border: 1px solid #e7e7e7; border-bottom: none; }
		.pricing-heading { border-bottom: 1px solid #e7e7e7; padding: 23px 10px 22px; text-shadow: 1px 1px 0 #fff; font-size: 12px; color: #999; text-align: center; -moz-box-shadow: inset 1px 1px 0 0 #fff; -webkit-box-shadow: inset 1px 1px 0 0 #fff; box-shadow: inset 1px 1px 0 0 #fff; }
			.pricing-title { text-transform: uppercase; font-size: 20px; color: #53b4c7 !important; font-weight: bold; text-shadow: none !important; }
			.pricing-heading p { padding-bottom: 0 !important; }

			.pricing-table ul.pricing { padding: 0 !important; list-style: none !important; margin: 0 !important; list-style-image: none !important; line-height: 26px; }
				.pricing-table ul.pricing li { list-style: none !important; border-top: 1px solid #fff; border-bottom: 1px solid #e7e7e7; background: #f5f5f5; background: -moz-linear-gradient(top, #f5f5f5 0%, #fefefe 7%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(7%,#fefefe), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top, #f5f5f5 0%,#fefefe 7%,#ffffff 100%); background: -o-linear-gradient(top, #f5f5f5 0%,#fefefe 7%,#ffffff 100%); background: -ms-linear-gradient(top, #f5f5f5 0%,#fefefe 7%,#ffffff 100%); background: linear-gradient(to bottom, #f5f5f5 0%,#fefefe 7%,#ffffff 100%); padding: 14px 7px 14px 63px; position: relative; font-size: 12px; color: #363636; text-shadow: none !important; }
					.pricing-table ul.pricing li span.pricing-mark { position: absolute; top: 19px; left: 30px; width: 22px; height: 18px; background: url(../images/shortcodes-sprite.png) no-repeat -74px -2px; }
					.pricing-table ul.pricing li.x-mark span.pricing-mark { background-position: -74px -20px; }

			.pricing-content-bottom { border-top: 1px solid #fff; border-bottom: 1px solid #e7e7e7; -webkit-box-shadow: inset 1px 0 0 0 #fff; -moz-box-shadow: inset 1px 0 0 0 #fff; box-shadow: inset 1px 0 0 0 #fff; padding: 20px 5px 43px; text-align: center; }
					span.dhm-price { font-size: 48px; color: #94c65c; text-shadow: 0 1px 0 #fff; font-family: Georgia, serif; }
						span.dhm-price sup { font-size: 24px; bottom: 13px; left: 1px; }
						span.dhm-price span.dollar-sign { font-size: 36px; }
			.pricing-table a.icon-button { margin: 0; padding-left: 15px; position: absolute; bottom: -13px; left: 50%; }
			.pricing-table a.icon-button { visibility: hidden; }
	.pricing-big { top: -20px; -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.2); -moz-box-shadow: 0 0 18px rgba(0,0,0,0.2); box-shadow: 0 0 18px rgba(0,0,0,0.2); z-index: 2; }
		.pricing-big .pricing-table-wrap { border-color: #d6d5d5; }
		.pricing-big .pricing-heading { padding-top: 43px; }
		.pricing-big .pricing-content-bottom { padding-bottom: 63px; border-bottom: 1px solid #d6d5d5; }

.dhm-testimonial-box { border: 1px solid #e7e7e7; background: #fff; position: relative; margin: 10px 0 45px; }
	.dhm-testimonial-author-info { border-left: 1px solid #fff; border-top: 1px solid #fff; border-bottom: 1px solid #e7e7e7; padding: 20px 20px 15px; text-shadow: 0 1px 0 #fff; }
		.t-img { width: 60px; height: 60px; float: left; margin: 0 25px 5px 0; -moz-box-shadow: 0 1px 0 0 #fff; -webkit-box-shadow: 0 1px 0 0 #fff; box-shadow: 0 1px 0 0 #fff; position: relative; }
			.t-img img { max-width: 100%; height: auto; }
			.t-overlay { width: 100%; height: 100%; box-shadow: inset 0 0 4px rgba(0,0,0,0.4); display: block; position: absolute; top: 0; left: 0; }
		.t-author, .t-position { display: block; }
		.t-author { font-size: 18px; color: #999; padding: 10px 0 5px; }
		.t-position { color: #595959; }
		.t-position, .dhm-testimonial { font-family: Georgia, serif; font-style: italic; font-size: 14px; }
		.dhm-testimonial { padding: 43px 35px 30px 77px; color: #363636; position: relative; text-shadow: none !important; }
			.dhm-testimonial:before { content: ''; position: absolute; top: 43px; left: 35px; width: 25px; height: 19px; background: url(../images/shortcodes-sprite.png) no-repeat -45px -35px; }
		.t-bottom-arrow { background: url(../images/shortcodes-sprite.png) no-repeat -97px -25px; width: 31px; height: 32px; position: absolute; bottom: -32px; right: 40px; }


.dhm-dropcap { font-size: 48px; float: left; display:block; margin:0 7px 0 0; line-height: 1; }

.dhm_quote { padding-left: 57px; min-height: 40px; font-family: Georgia, serif; font-size: 14px; font-style: italic; position: relative; line-height: 1.5; margin-bottom: 10px; }
	.dhm_quote .dhm_quote_sign { background: url(../images/shortcodes-sprite.png) no-repeat -206px -20px; position: absolute; top: 0; left: 0; display: block; width: 40px; height: 34px; }
	.quote-center .dhm_quote_sign { background-position: -251px -2px; width: 20px; height: 16px; top: 3px; }
	.quote-center .dhm_quote_additional_sign { background: url(../images/shortcodes-sprite.png) no-repeat -251px -22px; position: absolute; top: 3px; right: 13px; display: block; width: 20px; height: 16px; }
	.dhm_right_quote { width: 100%; }
.quote-center { font-size: 24px; line-height: 1.2; text-align: center; padding-left: 30px; }
	.quote-center .dhm_right_quote { padding-right: 30px; width: 95%; }


.dhm-tabs-container .dhm-tabs-control { padding: 0; }
.tabs-left .dhm-tabs-control { padding-left: 0; }
.author-info h1, .author-info h2, .author-info h3, .author-info h4, .author-info h5, .author-info h6 { color:#201F1F !important; text-shadow: none !important; }

.dhm-tabs-container .dhm-tabs-control li a, .tabs-left .dhm-tabs-control li a { text-decoration: none !important; }

a.big-button, a.small-button, a.icon-button { cursor: pointer; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.dhm_column_last { margin-right: 0px !important; clear:right; }
.clear { clear:both; }