@font-face {
	font-family: 'ETmodules';
	src:url('../fonts/ETmodules_v2_4.eot');
	src:url('../fonts/ETmodules_v2_4.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ETmodules_v2_4.ttf') format('truetype'),
		url('../fonts/ETmodules_v2_4.woff') format('woff'),
		url('../fonts/ETmodules_v2_4.svg#ETmodules') format('svg');
	font-weight: normal;
	font-style: normal;
}

li.toplevel_page_et_rrcfest_options div.wp-menu-image:before { font-family: 'ETmodules'; content: '\e625';   width: 30px !important; font-size: 30px !important; margin-top: -5px; }