@font-face {
	font-family: 'etbuilder';
	src:url('../fonts/etbuilder_v2_4.eot');
	src:url('../fonts/etbuilder_v2_4.eot?#iefix') format('embedded-opentype'),
		url('../fonts/etbuilder_v2_4.woff') format('woff'),
		url('../fonts/etbuilder_v2_4.ttf') format('truetype'),
		url('../fonts/etbuilder_v2_4.svg#etbuilder') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ETmodules';
	src:url('../fonts/ETmodules_v2_4.eot');
	src:url('../fonts/ETmodules_v2_4.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ETmodules_v2_4.ttf') format('truetype'),
		url('../fonts/ETmodules_v2_4.woff') format('woff'),
		url('../fonts/ETmodules_v2_4.svg#ETmodules') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dhm_pb_modal_overlay .button-primary { text-shadow: none !important; }

select#filter-by-date { display: none; }
div#dhm_pb_layout_controls, a#dhm_pb_toggle_builder { display: none; }
div#misc-publishing-actions, div#minor-publishing-actions { display: none; }
.dhm_pb_hide_insert .dhm_pb_module_block + .dhm-pb-insert-module, .dhm_pb_module_block + a.dhm-pb-insert-module.dhm_pb_hidden_button { display: none; }
.dhm_pb_hide_insert a.dhm-pb-clone.dhm-pb-clone-module { display: none; }

.dhm_pb_section_placeholder a.dhm-pb-section-add-specialty.dhm-pb-add-specialty-template { display: block; border: 2px solid #BBB; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; text-align: center; padding: 20px 0 20px; color: #999; text-decoration: none; position: relative; margin-bottom: 14px; }
.dhm_pb_section_placeholder .dhm-pb-controls { display: none; }
.dhm_pb_section_placeholder .dhm-pb-section-content { display: none; }
.dhm_pb_section_placeholder .dhm-pb-add-specialty-template.dhm-pb-section-add-specialty:before { display: none; }

a.dhm-pb-modal-save-template { display: none !important; }
.alignleft.actions.bulkactions { display: block; }

a.dhm-pb-modal-save { width: 920px; }

/* modal styles */

.dhm_pb_new_template_modal.dhm_pb_modal_overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #FFFFFF; background: rgba(255, 255, 255, 0.8); z-index: 9999; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal { -webkit-animation: dhm_pb_fade_in_small .5s 1 cubic-bezier(0.77,0,.175,1); -moz-animation: dhm_pb_fade_in_small .5s 1 cubic-bezier(0.77,0,.175,1); animation: dhm_pb_fade_in_small .5s 1 cubic-bezier(0.77,0,.175,1); min-height: 340px; position: fixed; top: 20%; bottom: 20%; left: 50%; width: 400px; background: #FFF; padding: 0; margin-left: -200px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4); }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal_inside { left: 0; right: 0; position: absolute; top: 60px; bottom: 60px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: scroll; padding: 40px; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal_inside::-webkit-scrollbar { width: 5px !important; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal_inside::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.3) !important;  width: 20px !important; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal_inside::-webkit-scrollbar-thumb { -webkit-border-radius: 0 !important; border-radius: 0 !important; background: #32373C !important; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal_inside::-webkit-scrollbar-thumb:window-inactive, { background: #fff !important; }

.dhm_pb_new_template_modal .dhm_pb_prompt_modal h2 { font-weight: 100; font-size: 22px; color: #fff; background-color: #6c2eb9; width: 100%; margin: 0; padding: 25px 40px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal p  { margin-top: 0; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal label:first-of-type { margin-top: 0; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal label { display: block; margin-top: 15px; text-transform: uppercase; color: #32373c; font-size: 14px; font-weight: 700; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal input.dhm_pb_prompt_proceed { -webkit-transition: background .5s; transition: background .5s; cursor: pointer; -webkit-border-radius: 0; border-radius: 0; padding: 0; margin: 0; font-size: 17px; font-weight: 700; width: 100%; display: inline-block; float: left; height: 60px; line-height: 60px; text-align: center; color: #fff; text-decoration: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; outline: none; border: 0; }
.dhm_pb_new_template_modal .dhm-pb-modal-close { text-decoration: none; font-size: 23px; color: #fff; position: absolute; top: 0; right: 0; z-index: 10; padding: 24px !important; background-color: #622aa9; -webkit-transition: background .5s; -moz-transition: background .5s; transition: background .5s; }
.dhm_pb_new_template_modal .dhm-pb-modal-close:before { content: '\22'; font-family: 'etbuilder'; }
.dhm_pb_new_template_modal .dhm-pb-modal-close:hover { background-color: #552592; color: #fff; }
.dhm_pb_new_template_modal .dhm-pb-modal-close:focus { outline: none; border: none; color: #fff; box-shadow: none; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal input,.dhm_pb_new_template_modal .dhm_pb_prompt_modal select { height: 40px; margin-left: 0; border-radius: 4px; border: none; box-shadow: none; background: #F1F5F9; padding: 10px; font-size: 14px; color: #32373c; width: 100%; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal input[type=checkbox] { float: left; margin-bottom: 10px; margin-right: 10px; margin-top: 0; width: 25px; height: 25px; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal input:focus, .dhm_pb_prompt_modal select:focus { box-shadow: none !important; outline: none !important; background: #E0E5EA; -webkit-transition: background .5s; -moz-transition: background .5s; transition: background .5s; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal input.dhm_pb_prompt_proceed, .dhm_pb_new_template_modal .dhm_pb_prompt_modal .dhm_pb_prompt_proceed:focus { background-color: #00a0d2; }
.dhm_pb_new_template_modal .dhm_module_tabs_options label { margin-top: 5px; font-weight: 400; text-transform: none; float: left; width: 100%; }
.dhm_pb_new_template_modal .dhm_module_tabs_options { margin-top: 15px; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal input[type=checkbox]:checked:before { color: #00c3aa; float: none; margin-top: 2px; }
.dhm_pb_new_template_modal .dhm_pb_prompt_buttons { width: 100%; text-align: center; position: absolute; bottom: 0; margin: 0 0 -1px 0; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal .layout_cats_container label { clear: both; }
.dhm_pb_new_template_modal .dhm_pb_prompt_modal h2 { z-index: 9; position: relative; }

.dhm_pb_new_template_modal.dhm_modal_on_top.dhm_pb_modal_overlay { margin-top: 0; }
.dhm_pb_new_template_modal.dhm_modal_on_top .dhm_pb_prompt_modal { overflow: hidden; }
.dhm_pb_new_template_modal.dhm_modal_on_top .dhm_pb_prompt_dont_proceed { display: block; padding: 22px; }
.dhm_pb_new_template_modal .dhm_module_tabs_options label { margin-bottom: 0; }

/* export layouts section */
.dhm_pb_export_section { padding: 0 20px 0 12px; margin: 0 20px -1px 0; position: relative; background-color: #FFF; border: 1px solid #DDD; border-top: none; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.025); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.025); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.025); max-height: 0; overflow: hidden; }
.dhm_export_section_link_wrap { float: left; height: 28px; border: 1px solid #DDD; border-top: none; background: #FFF; -webkit-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1); }
#dhm_show_export_section { display: block; font-size: 13px; height: 22px; line-height: 22px; text-decoration: none; z-index: 1; padding: 3px 6px 3px 16px; color: #777; }
#dhm_show_export_section:after { right: 0; content: '\f140'; font: 400 20px/1 dashicons; speak: none; display: inline-block; padding: 0 5px 0 0; bottom: 2px; position: relative; vertical-align: bottom; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none!important; color: #B4B9BE; }
#dhm_show_export_section.dhm_pb_opened:after { content: '\f142'; }
#dhm_show_export_section:hover{ color: #32373C; }
.clearfix { clear: both; }

a#dhm_load_category_page { margin-top: 20px; display: inline-block; padding: 4px 8px; position: relative; top: -3px; text-decoration: none; border: none; -webkit-border-radius: 2px; border-radius: 2px; background: #E0E0E0; text-shadow: none; font-weight: 600; font-size: 13px; }
a#dhm_load_category_page:hover { background: #00A0D2; color: #FFF; }

@-webkit-keyframes dhm_pb_fade_in_small { 0% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes dhm_pb_fade_in_small { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes dhm_pb_fade_in_small { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes dhm_pb_fade_in_small { 0% { opacity: 0; } 100% { opacity: 1; } }