/*
 * Modal Windows
 */

/* Rrcfest Builder Preview Support */
body.dhm-pb-preview #page-container {
	padding-top: 0 !important;
	box-shadow: none !important;
	width: 100% !important;
}

body.dhm-pb-preview.dhm_rrcfest_builder #page-container {
	padding: 0 !important;
	margin: 0;
	border: none;
	background: none;
}

body.dhm-pb-preview #main-content .container {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	width: 100%;
	padding: 0 40px;
	padding-top: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
}

body.dhm-pb-preview {
	background-color: #fff !important;
	background-image: none !important;
	border: none;
}

body.dhm-pb-preview.dhm_rrcfest_builder {
	color: #666;
}

body.dhm-pb-preview:before {
	box-shadow: none;
}

body.dhm-pb-preview.dhm_rrcfest_builder #main-content > .container > div,
body.dhm-pb-preview.dhm_rrcfest_builder #main-content > .container > div > div {
	margin: 0;
	padding: 0;
	background: none;
	box-shadow: none;
	border: none;
	width: 100%;
	min-width: 0;
	max-width: 100%;
}

@media all and ( max-width: 479px ) {
	body.dhm-pb-preview #main-content .container {
		padding: 0 20px;
	}
}

body.dhm-pb-preview #main-content .container:before {
	display: none;
}

.dhm-pb-preview-message {
	text-align: center;
}

.dhm-pb-preview-loading span {
	display: none;
}

.dhm-pb-preview-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	background: #FFF;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	margin: -25px 0 0 -25px;
	z-index: 999999;
}

.dhm-pb-preview-loading:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	background: url( ../images/ajax-loader.gif ) no-repeat;
	width: 32px;
	height: 32px;
	margin: -16px 0 0 -16px;
}

 /* Overlay */
.dhm_pb_modal_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	z-index: 9999;
	display: none;
}

.dhm_pb_modal_overlay.link-disabled.active {
	display: block;
}

.dhm_pb_modal_overlay.dhm_modal_on_top {
	z-index: 99999;
}

.dhm_pb_modal_overlay label {
	clear: both;
	display: block;
	margin: 10px 0;
}

.dhm_modal_on_top.dhm_pb_modal_overlay {
	background: none;
	top: 15%;
	margin-top: 68px;
	-webkit-animation: dhm_pb_fade_in .5s 1 cubic-bezier(0.77, 0, .175, 1);
	animation: dhm_pb_fade_in .5s 1 cubic-bezier(0.77, 0, .175, 1);
}

.dhm_pb_prompt_modal {
	-webkit-animation: dhm_pb_fade_in_small .5s 1 cubic-bezier(0.77, 0, .175, 1);
	animation: dhm_pb_fade_in_small .5s 1 cubic-bezier(0.77, 0, .175, 1);
	min-height: 340px;
	position: fixed;
	top: 35%;
	left: 50%;
	width: 400px;
	background: #FFF;
	padding: 108px 40px 40px 40px;
	margin-left: -200px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
}

/* Modal */
.dhm_pb_prompt_modal h3 {
	font-weight: 100;
	font-size: 22px;
	color: #fff;
	background-color: #6c2eb9;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 25px 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.dhm_pb_prompt_modal p {
	margin-top: 0;
}

.dhm_pb_prompt_modal label {
	text-transform: uppercase;
	color: #32373c;
	font-size: 14px;
	font-weight: 700;
}

.dhm_modal_on_top .dhm_pb_prompt_modal {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	overflow: auto;
	width: 1000px;
	margin-left: -500px;
	margin-top: 68px;
	top: 9%;
	bottom: 7%;
	padding: 40px 40px 0 40px;
}

.dhm_modal_on_top.dhm_pb_modal_overlay {
	background: none;
	top: 15%;
	margin-top: 68px;
	-webkit-animation: dhm_pb_fade_in .5s 1 cubic-bezier(0.77, 0, .175, 1);
	animation: dhm_pb_fade_in .5s 1 cubic-bezier(0.77, 0, .175, 1);
}

.dhm_modal_on_top .dhm_pb_prompt_dont_proceed {
	display: none;
}

.dhm_modal_on_top .dhm_pb_prompt_buttons {
	margin: 0 0 -1px 0;
}

.dhm_modal_on_top .dhm_pb_prompt_proceed,
.dhm_modal_on_top_both_actions .dhm_pb_prompt_dont_proceed {
	font-size: 17px;
	font-weight: 700;
	line-height: 68px;
	width: 1000px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.dhm_modal_on_top_both_actions .dhm_pb_prompt_dont_proceed {
	left: auto;
	right: 0;
	margin-right: 0 !important;
}

.dhm_pb_prompt_buttons {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	margin-left: -40px;
}

.rtl .dhm_pb_prompt_buttons {
	margin-left: 0;
	margin-right: -40px;
}

.rtl .dhm_pb_prompt_modal_save_library .dhm_pb_prompt_buttons {
	margin-right: 0;
}

.dhm_modal_on_top .dhm_pb_prompt_modal > label {
	width: 300px !important;
}

.dhm_modal_on_top .dhm_pb_prompt_modal_save_library {
	overflow: visible;
	padding: 0;
}

.dhm_modal_on_top .dhm_pb_prompt_modal_save_library .dhm-pb-option-container label {
	text-transform: none;
	font-weight: 500;
}

.dhm_pb_prompt_modal_save_library .dhm-pb-main-settings {
	top: 0;
}

.dhm_pb_prompt_buttons a.dhm_pb_prompt_proceed,
.dhm_pb_prompt_modal .dhm_pb_prompt_buttons input.dhm_pb_prompt_proceed {
	-webkit-transition: background .5s;
	transition: background .5s;
	background-color: #00a0d2;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	margin: 0;
	font-size: 17px;
	font-weight: 700;
	width: 100%;
	display: inline-block;
	float: left;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

.dhm_pb_prompt_buttons a.dhm_pb_prompt_proceed:hover,
.dhm_pb_prompt_modal .dhm_pb_prompt_buttons input.dhm_pb_prompt_proceed:hover {
	background-color: #007cc3;
}

.dhm_modal_on_top_both_actions .dhm_pb_prompt_dont_proceed {
	top: auto;
}

.dhm_modal_on_top_both_actions .dhm_pb_prompt_dont_proceed span {
	display: block;
}

.dhm_modal_on_top_both_actions .dhm_pb_prompt_buttons a.dhm_pb_prompt_proceed {
	line-height: 68px;
}

.dhm_modal_on_top_both_actions .dhm_pb_prompt_dont_proceed:before {
	display: none;
}

.dhm_modal_on_top_both_actions .dhm_pb_prompt_buttons {
	margin: 0 0 0 -40px;
}

.dhm-pb-load-layouts li {
	width: 100%;
	margin: 0 0 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	padding-right: 160px;
}

.dhm-pb-load-layouts li:hover {
	color: #32373C;
	cursor: default;
}

.dhm_pb_layout_buttons {
	position: absolute;
	top: 15px;
	right: 15px;
}

.dhm_pb_layout_buttons .dhm_pb_layout_button_delete {
	margin-left: 8px;
}

.dhm-pb-section-add-fullwidth:before,
.dhm-pb-section-add-specialty:before,
.dhm-pb-section-add-saved:before {
	content: ' | ';
	margin: 0 6px;
}

#dhm_pb_new_layout_name {
	width: 100%;
}

.dhm-pb-map {
	height: 400px;
	width: 100%;
}

/**
* Animations
*/

/* Fade In */
@-webkit-keyframes dhm_pb_fade_in {
	0% {
		opacity: 0;
		top: 15%;
		bottom: 15%;
	}
	100% {
		opacity: 1;
		top: 9%;
		bottom: 7%;
	}
}

@-moz-keyframes dhm_pb_fade_in {
	0% {
		opacity: 0;
		top: 15%;
		bottom: 15%;
	}
	100% {
		opacity: 1;
		top: 9%;
		bottom: 7%;
	}
}

@-o-keyframes dhm_pb_fade_in {
	0% {
		opacity: 0;
		top: 15%;
		bottom: 15%;
	}
	100% {
		opacity: 1;
		top: 9%;
		bottom: 7%;
	}
}

@keyframes dhm_pb_fade_in {
	0% {
		opacity: 0;
		top: 15%;
		bottom: 15%;
	}
	100% {
		opacity: 1;
		top: 9%;
		bottom: 7%;
	}
}

/* Fade In Small */
@-webkit-keyframes dhm_pb_fade_in_small {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes dhm_pb_fade_in_small {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes dhm_pb_fade_in_small {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dhm_pb_fade_in_small {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}