@font-face {
	font-family: 'etbuilder';
	src:url('../fonts/etbuilder_v2_5.eot');
	src:url('../fonts/etbuilder_v2_5.eot?#iefix') format('embedded-opentype'),
		url('../fonts/etbuilder_v2_5.woff') format('woff'),
		url('../fonts/etbuilder_v2_5.ttf') format('truetype'),
		url('../fonts/etbuilder_v2_5.svg#etbuilder') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dhm_pb_roles_main_container .button-primary { text-shadow: none !important; }

.dhm_pb_roles_main_container .button:active { -webkit-transform: none; -ms-transform: none; transform: none; }

#dhm_pb_save_roles { -webkit-transition: background .5s; -moz-transition: background .5s; transition: background .5s; color: #FFF; background-color: #00C3AA; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border: none; padding: 0 20px 0 58px; font-size: 18px; font-weight: 100; height: 53px; line-height: 53px; margin: 4px 0 12px; display: inline-block; text-decoration: none; }
#dhm_pb_save_roles:hover { background-color: #01B19A; }
#dhm_pb_save_roles:before { content: '\l'; font-family: 'ETmodules'; left: 14px; top: 3px; font-size: 28px; display: block; position: absolute; text-shadow: none !important; font-weight: 100 !important; }

.dhm_pb_roles_main_container { position: relative; width: 95%; margin: 30px auto 0; }
.dhm_pb_roles_options_container { background-color: #FFF; padding: 60px 0 0 0; display: none; }
.active-container { display: block; }
.dhm_pb_roles_container_all { background: #fff; border: 1px solid #e5e5e5; }

.dhm_pb_roles_options_internal { padding: 40px; }
p.dhm_pb_roles_notice { padding: 0 40px; color: #B9C0C7; margin: 0; }

#dhm_pb_layout_controls { overflow: hidden; text-align: right; top: 0; right: 0; background-color: #7e3bd0; }
#dhm_pb_layout_controls .dhm-pb-layout-buttons { box-sizing: border-box; color: #fff; margin: 0; float: left; border-radius: 0; text-align: center; background-color: #7e3bd0; padding: 20px 30px; font-weight: 500; text-decoration: none; font-size: 18px; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
#dhm_pb_layout_controls .dhm-pb-layout-buttons:first-of-type { padding-left: 40px; }
#dhm_pb_layout_controls .dhm-pb-layout-buttons.disabled { opacity: .3; }
#dhm_pb_layout_controls .dhm-pb-layout-buttons:focus { outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

#dhm_pb_layout_controls .dhm-pb-layout-buttons:hover, .dhm_pb_roles_active_menu { background-color: #8F42EC !important; }

.dhm_pb_roles_title { font-weight: 100; font-size: 22px; color: #FFF; background-color: #6C2EB9; padding: 25px 80px; border-bottom: 0; line-height: 18px; margin-bottom: 0; position: relative; }
.dhm_pb_roles_title:before { font-family: 'etbuilder'; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: '\3c'; display: block; position: absolute; left: 40px; top: 18px; font-size: 32px; }

h4.dhm_pb_roles_divider { color: #8E969E; border-top: 1px solid #E7ECF1; border-bottom: 1px solid #E7ECF1;display: block; clear: both; position: relative; background-color: #f1f5f9; padding: 20px 40px; font-size: 18px; font-weight: normal; margin: 0; }

.dhm_pb_save_roles_container { position: relative; }

/* yes-no button styles */
.dhm_pb_yes_no_button { width: 100%; display: inline-block; position: relative; cursor: pointer; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.dhm_pb_yes_no_button.dhm_pb_off_state { background-color: #F1F5F9; }
.dhm_pb_yes_no_button.dhm_pb_on_state { background-color: #008BDB; }
.dhm_pb_yes_no_button span.dhm_pb_button_slider { position: absolute; background: #FFF; width: 50%; height: 30px; margin: 5px 0; background: #FFF; -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1); -moz-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.dhm_pb_yes_no_button.dhm_pb_off_state span.dhm_pb_button_slider { left: 5px; }
.dhm_pb_yes_no_button.dhm_pb_on_state span.dhm_pb_button_slider { left: 50%; margin-left: -5px; }
.dhm_pb_yes_no_button.dhm_pb_on_state span.dhm_pb_value_text.dhm_pb_on_value { margin-left: 0; margin-right: 0; }
.dhm_pb_yes_no_button.dhm_pb_off_state span.dhm_pb_value_text.dhm_pb_off_value { margin-right: 0; margin-left: 0; }
.dhm_pb_yes_no_button span.dhm_pb_value_text { padding: 11px; float: left; width: 50%; text-align: center; font-weight: bold; text-transform: uppercase; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
span.dhm_pb_value_text.dhm_pb_off_value { color: #8E969E; }
span.dhm_pb_value_text.dhm_pb_on_value { color: #FFF; }
.dhm_pb_yes_no_button_wrapper select { opacity: 0; position: absolute; z-index: -1; width: 0px !important; height: 0px !important; }
.dhm-pb-options-tab-advanced .dhm_pb_yes_no_button_wrapper { width: 200px; position: relative; }
.dhm-pb-options-tab-advanced .dhm_pb_yes_no_button { float: left; }
.dhm_pb_button_equal_sides .dhm_pb_yes_no_button.dhm_pb_on_state { background-color: #F1F5F9; }
.dhm_pb_button_equal_sides span.dhm_pb_value_text.dhm_pb_on_value { color: #8E969E; }

.dhm_pb_capability_option { float: left; padding: 3% 0; margin-right: 3%; display: block; position: relative; min-width: 17.6%; max-width: 150px; box-sizing: border-box; }
span.dhm_pb_capability_title { max-width: 100%; display: block; word-break: break-all; margin-bottom: 10px; display: block; font-weight: 600; font-size: 14px; text-transform: uppercase; }
.dhm_pb_roles_options_internal:before,
.dhm_pb_roles_options_internal:after { content:""; display:table; }
.dhm_pb_roles_options_internal:after { clear:both; }

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
  0% { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
  20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
  40% { -webkit-transform: scale3d(.9, .9, .9); transform: scale3d(.9, .9, .9); }
  60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); }
  80% { -webkit-transform: scale3d(.97, .97, .97); transform: scale3d(.97, .97, .97); }
  100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
@-webkit-keyframes bounceIn { 0%, 20%, 40%, 60%, 80%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
  0% { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
  20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
  40% { -webkit-transform: scale3d(.9, .9, .9); transform: scale3d(.9, .9, .9); }
  60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); }
  80% { -webkit-transform: scale3d(.97, .97, .97); transform: scale3d(.97, .97, .97); }
  100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
  }

  /* End Animate.css */

@-webkit-keyframes dhm_pb_fade_in_small { 0% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes dhm_pb_fade_in_small { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes dhm_pb_fade_in_small { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes dhm_pb_fade_in_small { 0% { opacity: 0; } 100% { opacity: 1; } }

#dhm_pb_loading_animation, #dhm_pb_success_animation { transition: background, box-shadow 0.3s; -moz-transition: background, box-shadow 0.3s; -webkit-transition: background, box-shadow 0.3s; box-shadow: 0 0 60px rgba(0, 139, 219, 0.25); position: fixed; top: 50%; left: 50%; width: 50px; height: 50px; background: #FFF; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; margin: -13px 0 0 55px; z-index: 999999; }
#dhm_pb_success_animation { background-color: #A9E900; box-shadow: 0 0 40px rgba(0,0,0,0); }
#dhm_pb_loading_animation:before, #dhm_pb_success_animation:before { content: ''; position: absolute; top: 50%; left: 50%; background: url( ../images/ajax-loader.gif ) no-repeat; width: 32px; height: 32px; margin: -16px 0 0 -16px; }
#dhm_pb_success_animation { opacity: 0; }
#dhm_pb_loading_animation.dhm_pb_hide_loading { box-shadow: 0 0 40px rgba(0, 139, 219, 0); }
#dhm_pb_loading_animation.dhm_pb_hide_loading:before { display: none; }
#dhm_pb_success_animation:before { background: none; font-family: 'etbuilder'; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: '\4e'; color: #fff; font-size: 22px; margin: -10px 0 0 -10px; }

#dhm_pb_success_animation.dhm_pb_active_success { opacity: 1; -webkit-animation: bounceIn 1s; animation: bounceIn 1s; }

span.dhm_pb_toggle_all { display: block; font-size: 16px; cursor: pointer; float: right; }
span.dhm_pb_toggle_all:after { font-family: 'etbuilder'; content: '6'; }

#dhm_pb_layout_controls .dhm-pb-layout-buttons { box-sizing: border-box; color: #fff; margin: 0; float: left; border-radius: 0; text-align: center; background-color: #7e3bd0; padding: 20px 30px; font-weight: 500; }
.dhm-pb-layout-buttons-reset span.label { display: none; }
.dhm-pb-layout-buttons-reset span.icon:after, .dhm-pb-modal-close:before { font-family: 'etbuilder'; font-size: 16px; line-height: 1em; opacity: 0.9; -webkit-font-smoothing: antialiased; }
#dhm_pb_layout_controls .dhm-pb-layout-buttons.dhm-pb-layout-buttons-reset { float: right; padding: 20px 40px; }
.dhm-pb-layout-buttons-reset span.icon:after { content: '\4d'; }
#dhm_pb_layout_controls .dhm-pb-layout-buttons:hover { background-color: #8F42EC; }

.dhm_pb_modal_overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8); z-index: 9999; }
.dhm_pb_prompt_modal { -webkit-animation: dhm_pb_fade_in_small .5s 1 cubic-bezier(0.77,0,.175,1); animation: dhm_pb_fade_in_small .5s 1 cubic-bezier(0.77,0,.175,1); min-height: 340px; position: fixed; top: 35%; left: 50%; width: 400px; background: #FFF; padding: 108px 40px 40px 40px; margin-left: -200px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4); }
.dhm_pb_prompt_modal h3 { font-weight: 100; font-size: 22px; color: #fff; background-color: #6c2eb9; position: absolute; top: 0; left: 0; width: 100%; margin: 0; padding: 25px 40px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.dhm_pb_prompt_modal p  { margin-top: 0; }
.dhm_pb_prompt_modal label { text-transform: uppercase; color: #32373c; font-size: 14px; font-weight: 700; }
.dhm_pb_prompt_buttons { width: 100%; text-align: center; position: absolute; bottom: 0; margin-left: -40px; }
.rtl .dhm_pb_prompt_buttons { margin-left: 0; margin-right: -40px; }
.rtl .dhm_pb_prompt_modal_save_library .dhm_pb_prompt_buttons { margin-right: 0; }
	.dhm_pb_prompt_buttons a.dhm_pb_prompt_proceed, .dhm_pb_prompt_modal .dhm_pb_prompt_buttons input.dhm_pb_prompt_proceed  {  -webkit-transition: background .5s; transition: background .5s; background-color: #00a0d2; cursor: pointer; border-radius: 0; -webkit-border-radius: 0; padding: 0; margin: 0; font-size: 17px; font-weight: 700; width: 100%; display: inline-block; float: left; height: 60px; line-height: 60px; text-align: center; color: #fff; text-decoration: none; }
	.dhm_pb_prompt_buttons a.dhm_pb_prompt_proceed:hover, .dhm_pb_prompt_modal .dhm_pb_prompt_buttons input.dhm_pb_prompt_proceed:hover { background-color: #007cc3; }

.dhm-pb-modal-close { text-decoration: none; font-size: 23px; color: #fff; position: absolute; top: 0; right: 0; z-index: 10; padding: 22px; background-color: #622aa9; -webkit-transition: background .5s; transition: background .5s; }
.dhm-pb-modal-close:hover { background-color: #552592; color: #fff; }
.dhm-pb-modal-close:focus { outline: none; border: none; color: #fff; box-shadow: none; }
.dhm-pb-modal-close span { display: none; }
.dhm-pb-modal-close:before { font-weight: 800; content: '\22'; font-size: 23px; }


@media all and  ( min-width: 1301px ) {
.dhm_pb_capability_option:nth-of-type(5n+0) { margin-right: 0; }
}
@media all and ( max-width: 1300px ) and ( min-width: 1081px ) {
	.dhm_pb_capability_option { min-width: 22%; padding: 4% 0; margin-right: 4%; }
	.dhm_pb_capability_option:nth-of-type(4n+0) { margin-right: 0; }
}
@media all and ( max-width: 1080px ) and ( min-width: 783px ){
	.dhm_pb_capability_option { min-width: 30%; padding: 5% 0; margin-right: 5%; }
	.dhm_pb_capability_option:nth-of-type(3n+0) { margin-right: 0; }
}

@media all and ( max-width: 782px ) and ( min-width: 481px ){
	.dhm_pb_capability_option { min-width: 47%; padding: 6% 0; margin-right: 6%; }
	.dhm_pb_capability_option:nth-of-type(2n+0) { margin-right: 0; }
}

@media all and ( max-width: 480px ) {
	.dhm_pb_capability_option { min-width: 100%; padding: 0 0 7% 0; }
}
@media all and ( max-width: 959px ) {
	#dhm_pb_loading_animation, #dhm_pb_success_animation { margin-left: -7px; }
}
@media all and ( max-width: 782px ) {
	#dhm_pb_loading_animation, #dhm_pb_success_animation { margin-left: -25px; }
}